<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Pub/top" /> 
    <include file="Pub/left" /> 
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/js__PUBLIC__/Admin/css/admin">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">分类管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="__URL__/selcategory/" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select name="cat_i" id="">
                                  <volist name="date" id="v">
                                  <option value="{$v.cat_id}">{$v.cat_name}</option>
                                  </volist>
                                </select>
                            </td>
                            <td>
                            <input class="btn btn-primary btn2" name="sub" value="查询" type="submit">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__URL__/cateinsert.html"><i class="icon-font"></i>新增作品</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>排序</th>
                            <th>ID</th>
                            <th>分类名称</th>
                            <th>别名</th>
                            <th>发布人</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                   <volist name="data" id="v">
                        <tr>
                        <!-- <td>{$v.cat_id}</td> -->
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td>
                                <input name="ids[]" value="59" type="hidden">
                                <input class="common-input sort-input" name="ord" value="{$v.ord}" type="text">
                            </td>
                            
                            <td>{$v.cat_id}</td>
                            <td>{$v.cat_name}</td>
                            <td>{$v.alias_name}</td>
                            <td>{$v.admin_name}</td>
                            <td>{$v.cat_timer}</td>
                            <td>
                                <a class="link-update" href="__URL__/upcateinsert/id/{$v.cat_id}">修改</a>
                                <a class="link-del" href="__URL__/del/id/{$v.cat_id}">删除</a>
                            </td>
                        </tr>
                       </volist>
                    </table>
                    <div class="list-page"> {$page}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
