 <aside>
      <div class="tuijian">
        <h2>推荐文章</h2>
        <ol>
        <volist name='article1' id="cle" key="k">
          <li>
          <span>
          <strong>{$k}</strong>
          </span>
          <a href="__URL__/view/id/{$cle.art_id}">
          {$cle.title}
          </a>
          </li>
          </volist>
          <!-- <li><span><strong>2</strong></span><a href="__URL__/view">励志人生-要做一个潇洒的女人</a></li>
          <li><span><strong>3</strong></span><a href="__URL__/view">女孩都有浪漫的小情怀――浪漫的求婚词</a></li>
          <li><span><strong>4</strong></span><a href="__URL__/view">Green绿色小清新的夏天-个人博客模板</a></li>
          <li><span><strong>5</strong></span><a href="__URL__/view">女生清新个人博客网站模板</a></li>
          <li><span><strong>6</strong></span><a href="__URL__/view">Wedding-婚礼主题、情人节网站模板</a></li>
          <li><span><strong>7</strong></span><a href="__URL__/view">Column 三栏布局 个人网站模板</a></li>
          <li><span><strong>8</strong></span><a href="__URL__/view">时间煮雨-个人网站模板</a></li>
          <li><span><strong>9</strong></span><a href="__URL__/view">花气袭人是酒香―个人网站模板</a></li> -->
        </ol>
      </div>
      <div class="toppic">
        <h2>图文并茂</h2>
        <ul>
          <li><a href="#"><img src="__PUBLIC__/Home/images/k01.jpg">腐女不可怕，就怕腐女会画画！
            <p>伤不起</p>
            </a></li>
          <li><a href="#"><img src="__PUBLIC__/Home/images/k02.jpg">问前任，你还爱我吗？无限戳中泪点~
            <p>感兴趣</p>
            </a></li>
          <li><a href="#"><img src="__PUBLIC__/Home/images/k03.jpg">世上所谓幸福，就是一个笨蛋遇到一个傻瓜。
            <p>喜欢</p>
            </a></li>
        </ul>
      </div>
      <div class="clicks">
        <h2>热门点击</h2>
        <ol>

        <volist name="art" id="a">
          <li><span><a href="__URL__/two/id/{$c.cat_id}">{$a.cat_name}</a></span><a href="__URL__/view/id/{$a.art_id}">{$a.title}</a></li>
         </volist>

        </ol>
      </div>
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
      <div class="viny">
        <dl>
          <dt class="art"><img src="__PUBLIC__/Home/images/artwork.png" alt="专辑"></dt>
          <dd class="icon-song"><span></span>南方姑娘</dd>
          <dd class="icon-artist"><span></span>歌手：赵雷</dd>
          <dd class="icon-album"><span></span>所属专辑：《赵小雷》</dd>
          <dd class="icon-like"><span></span><a href="__URL__/view">喜欢</a></dd>
          <dd class="music">
            <audio src="__PUBLIC__/Home/images/nf.mp3" controls></audio>
          </dd>
          <!--也可以添加loop属性 音频加载到末尾时，会重新播放-->
        </dl>
      </div>
    </aside>