<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Pub/top" /> 
    <include file="Pub/left" /> 
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/js__PUBLIC__/Admin/css/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/js__PUBLIC__/Admin/css/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="__URL__/insert/" method="post" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody><tr>
                            <th width="120"><i class="require-red">*</i>管理员账号：</th>
                            <td>
                                <input type="text" name="admin_name">
                            </td>
                        </tr>
                            <tr>
                                <th><i class="require-red">*</i>密码：</th>
                                <td>
                                  <input type="text" name="admin_pwd">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>管理员图像：</th>
                                <td><input name="admin_img" id="" type="file">
                              <!--   <input type="submit" onclick="submitForm('/js__PUBLIC__/Admin/css/admin/design/upload')" value="上传图片"/> -->
                                </td>
                            </tr>

                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>